-- Make sure RLS is enabled on the coin_transactions table
ALTER TABLE coin_transactions ENABLE ROW LEVEL SECURITY;

-- Drop existing policies if they're too restrictive
DROP POLICY IF EXISTS "Users can view their own transactions" ON coin_transactions;
DROP POLICY IF EXISTS "Users can insert their own transactions" ON coin_transactions;
DROP POLICY IF EXISTS "Users can insert referral transactions" ON coin_transactions;
DROP POLICY IF EXISTS "Service role can manage all transactions" ON coin_transactions;

-- Policy for viewing transactions (users can only see their own)
CREATE POLICY "Users can view their own transactions" 
ON coin_transactions FOR SELECT 
TO authenticated
USING (auth.uid() = user_id);

-- Allow users to insert transactions for themselves
CREATE POLICY "Users can insert their own transactions" 
ON coin_transactions FOR INSERT 
TO authenticated
WITH CHECK (auth.uid() = user_id);

-- Allow service role to manage all transactions
CREATE POLICY "Service role can manage all transactions" 
ON coin_transactions
USING ((auth.jwt() ->> 'role')::text = 'service_role');

-- Create a simple stored procedure for handling referrals
CREATE OR REPLACE PROCEDURE handle_referral(
  referrer_id UUID,
  referred_id UUID,
  referral_code TEXT,
  referred_type TEXT
)
LANGUAGE plpgsql
AS $$
BEGIN
  -- Update the referred user
  UPDATE users 
  SET 
    coins = 200, -- 100 welcome + 100 referral bonus
    referred_by = referral_code
  WHERE id = referred_id;
  
  -- Record referral bonus transaction for referred user
  INSERT INTO coin_transactions (
    user_id, 
    type, 
    status, 
    coins, 
    description,
    created_at
  ) VALUES (
    referred_id,
    'referral_bonus',
    'success',
    100,
    'Bonus for using referral code ' || referral_code,
    NOW()
  );
  
  -- Update referrer statistics based on referred user type
  IF referred_type = 'creator' THEN
    UPDATE users 
    SET 
      coins = coins + 100,
      creators_referred = creators_referred + 1
    WHERE id = referrer_id;
  ELSE
    UPDATE users 
    SET 
      coins = coins + 100,
      advertisers_referred = advertisers_referred + 1
    WHERE id = referrer_id;
  END IF;
  
  -- We cannot insert a transaction for the referrer due to RLS
  -- They will see the coins increase but not have a transaction record
END;
$$;
